
<ng-container *ngIf="hasPendingProjects; else noProjects">
  <!-- Menu -->
  <ul nz-menu nzMode="horizontal">
    <li 
      *ngFor="let project of projects" 
      nz-menu-item 
      [nzSelected]="project.id === selectedProjectId"
      (click)="selectProject(project.id)">
      {{ project.name }}
    </li>
  </ul>

  <!-- Task List -->
  <div *ngIf="filteredTasks.length; else allDone" class="task-list">
    <ul>
      <li *ngFor="let task of filteredTasks" class="task-item" (click)="toggleCompleted(task)">
        <span 
          class="icon-circle" 
          [class.checked]="task.completed">
          <i nz-icon nzType="check" *ngIf="task.completed"></i>
        </span>
        <span [class.completed]="task.completed">{{ task.description }}</span>
      </li>
    </ul>
  </div>

  <!-- All tasks are done -->
  <ng-template #allDone>
    <div class="done-message">
      <i nz-icon nzType="check-circle" nzTwoToneColor="#52c41a" style="font-size: 48px;"></i>
      <p>You have successfully completed the list!</p>
      <button nz-button nzType="primary">Close</button>
    </div>
  </ng-template>
</ng-container>

<!-- if there are no projects -->
<ng-template #noProjects>
  <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl"
      [nzNotFoundFooter]="footerTpl"
    >
      <ng-template #contentTpl>
        <span>
          There are no projects yet.
        </span>
      </ng-template>
      <ng-template #footerTpl>
        <button nz-button nzType="primary">Create Now</button>
      </ng-template>
    </nz-empty>
</ng-template>
